/*Boilerplate CSS Reset*/
body,nav,div,span,h1,h2,h3,h4,h5,p,ul,li,a,img{margin:0;padding:0; box-sizing:border-box;}

:root{
    font-size:17px;
}

body{background-color:#fefefe; color:#161616;}
body.dark-mode{background-color:#1e2427; color:#fefefe;}
body .light{display:inherit;}
body .dark{display:none;}
body.dark-mode .light{display:none;}
body.dark-mode .dark{display:inherit;}

/*Main Styling*/
h1{font-size:2rem; font-family: 'montserrat', sans-serif; font-weight:500; padding-bottom:15px;}
h2{font-size:1.5rem; font-family: 'montserrat', sans-serif; font-weight: 500; padding-bottom:15px;}
h3{font-size:1.25rem; font-family: 'montserrat', sans-serif; font-weight:500; padding-bottom:10px;}
h4{font-size:1.1rem; font-family: 'montserrat', sans-serif; font-weight:500;}
p{font-size:1rem; font-family: 'montserrat', sans-serif; font-weight:300; text-align:left; margin-bottom:15px; line-height:160%;}
a{font-size:1rem; font-family: 'montserrat', sans-serif; font-weight:300; color:#2E7EB5; text-decoration:none;}
a:hover{color:#6FC2E9; cursor:pointer;}
li{font-size:1rem; font-family: 'montserrat', sans-serif; font-weight:300;margin-bottom:5px; margin-left: 25px;}
label{font-size:1.1rem; font-family: 'montserrat', sans-serif; font-weight:500; color:#161616;}
hr{background-image: linear-gradient(to right,transparent,#ccc,transparent);border:0; height:1px; margin:8px 0;}
body.dark-mode a{color:#6FC2E9;}
body.dark-mode a:hover{color:#2E7EB5;}
label.dark-mode{color:#fefefe !important;}

/*Text-Align Classes*/
.tar{text-align:right;}
.tal{text-align:left;}
.tac{text-align:center;}

/*Light and Dark Mode Selector*/
.light-dark{position:fixed; top:50%; left:95%; z-index:10; background-image:linear-gradient(#E77733,#F7BD38); box-shadow:0px 0px 5px rgb(22,22,22,0.5); padding:6px 2px; border: 2px solid #fff; border-radius:50px; overflow:hidden;}
.light-dark:hover{cursor:pointer;}
.light-dark img{display:block; width:24px; height:24px;}
.light-dark img:nth-child(2){margin-bottom:5px;}
body.dark-mode .light-dark{background-image:linear-gradient(#161616,#3B3B3B);border:2px solid #101010; box-shadow:0px 0px 5px rgb(0,0,0,0.5);}
.toggle-ball{position:absolute; width:24px; height:30px; border-radius:32px; background-color:#fff; bottom:-4px;left:0; z-index:20; transition-duration:  0.2s;}
body.dark-mode .toggle-ball{background-color:#101010; bottom:28px;}

/*Layout Styling*/
.container{width:100%;}
.container .row{display:block; padding:75px 20%;}
.container .row.dark{display:none;}
.btn{display:inline-block; background-color:#d0d4d6; color:#161616; min-width:150px; padding:8px 30px; border-radius:4px; margin:10px 15px; text-align:center;}
.btn:hover{background-color:#b4babf; color:#161616; cursor:pointer;}
.clearfix:after{content: ""; display: table; clear: both;}
body.dark-mode .row.light{display:none;}
body.dark-mode .row.dark{display:block;}
body.dark-mode .btn{background-color:#51565e; color:#fefefe;}
body.dark-mode .btn:hover{background-color:#393e42; color:#fefefe; cursor:pointer;}
body.dark-mode .alt{background-color:#2c353a;}

/*Order Styling*/
.first{margin-left:0;}
.last{margin-right:0;}

/*Banner Styling*/
.banner{position:relative; display:block; width:100%; height:230px; padding:30px 0; text-align:left;}

/*Profile Styling*/
.profile .headshot{display:block; position:relative; width:250px; height:250px; overflow:hidden; border-radius:250px; border:5px solid #fefefe; box-shadow:0px 0px 5px rgb(22,22,22,0.5); margin-top:-200px; margin-bottom:30px;}
.profile .headshot img{position:absolute; top:-25px; left:-25px; width:300px; height:300px;}
.profile .btn p{display:inline-block; text-align:center; text-decoration:none; margin:0;}
.profile .btn img{width:40px; height:40px; vertical-align:middle; display:inline-block;}
body.dark-mode .profile .headshot{border-color:#1e2427;}

/*Footer Styling*/
footer{text-align:center; padding:25px 10%;}
footer img{width:50px; height:50px; margin:0 15px;}
footer .social-light{display:block; margin:0;}
footer .social-dark{display:none; margin:0;}
body.dark-mode footer .social-light{display:none;}
body.dark-mode footer .social-dark{display:block;}
footer ul li{list-style:none; display:inline; margin:0; padding:5px;}
footer ul li a{color:#161616;}
footer ul li a:hover{cursor:pointer; color:#aaa;}
body.dark-mode footer ul li a{color:#fefefe;}
body.dark-mode footer ul li a:hover {color:#aaa;}

/*Responsive Styling*/
@media screen and (max-width:1330px){
}

@media screen and (max-width:1130px){
    .container .row {padding:75px 15%;}
}

@media screen and (max-width:949px){
    .light-dark{left:87%; z-index:10;}
}

@media screen and (max-width:769px){
    .container .row {padding:45px 15px;}
    .container .row.link-list {padding:0 15px 45px;}
    .btn{display:block; text-align:center; max-width:400px; margin:20px auto; padding:8px 15px;}
    .profile .headshot{width:200px; height:200px; border-radius:200px; margin:-150px auto 15px;}
    .profile .headshot img{width:250px; height:250px; top:-25px; left:-25px;}
    .profile h1{text-align:center;}
    footer img{margin:0 5px;}
    p{line-height:135%;}
}