{
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}
/* set page wide values*/
body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight:300;
    color:#111;
    font-size:20px;
    padding:0;
    margin:0;
    --primary-color:#1f4973;
    --secondary-color:#7f9abc;
    --tertiary-color:#2b649e;
}

h1{
    font-size: 38px;
    font-family: 'Roboto Condensed', sans-serif;
}

h2{
    font-size: 34px;
    font-family: 'Roboto Condensed', sans-serif;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 28px;
    
}

h4{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}


label{
    color:#111;
    font-size: 20px;
}

/* style navebar, giving it a padding for desktop */
nav{
    display:flex;
    
    /*test bugfix for IE*/
    -ms-flex: 1; /* IE 10 */
    flex: 1;

    justify-content:space-between;
    align-items:center;
    background-color: var(--primary-color);
    font-family: 'Roboto Condensed', sans-serif;
    color:#fff;
    margin:0;
    padding-right:4rem;
    padding-left:4rem;
    box-shadow:0px 0px 10px .5px #111;
}

.logo{
    position:relative;
    top:2px;}

.nav-links{
    display:flex;
    justify-content: space-between;
    padding:0;
    margin:0;
}

.nav-links li{
    list-style: none;
}

.nav-links li:hover{
    background-color: var(--secondary-color);
}

.nav-links a{
    text-decoration:none;
    color:#fff;
    letter-spacing:2px;
    padding:1.2rem;
    font-weight:bold;
    display:block;
}


/* Burger is fixed, so it stays in the right side. It is hidden unless the screen is under 768px */
.burger{
    position:absolute;
    top:1.2rem;
    right:2rem;
    left:0;
    display:none;
    flex-direction: column;
    justify-content: space-around;
    cursor:pointer;
    width:30px;
    height:21px;
}

.burger span{
    height:3px;
    width:100%;
    background-color:#fff;
    border-radius:10px;

}

/*position hero image below nav*/
.hero-image{
    position:relative;
    height:500px;
    overflow:hidden;
    background: url(images/web-background-1.jpg) no-repeat center;
    background-size: cover;
}

.hero-image-small{
    position:relative;
    height:200px;
    overflow:hidden;
    background: url(images/web-background-1.jpg) no-repeat center;
    background-size: cover; 
}

/*show header over hero image*/
.hero-container{
    position: absolute;
    background-color: rgba(43, 100, 158,0.9);
    line-height:40px;
    width:100%;
    padding-bottom:1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color:#fff;
    letter-spacing: 2px;
}

/*style the wording inside the hero image*/
.hero-button{
    width:200px;
    background-color:rgba(0,0,0,0);
    border: 1px solid #fff;
    font:inherit;
    font-size:20px;
    border-radius:100px;
    padding:10px 20px;
    transition:0.3s;
    outline:none;
    text-decoration:none;
    color:#fff;
}

.hero-button:hover{
    background-color: var(--secondary-color);
    cursor:pointer;
}

.samples{
    padding:2.5rem 20%;
}

.samples iframe{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:560px; 
    height:315px;
    box-shadow:0px 3px 10px .5px #111;
}

/*contact class styles the contact form*/
.contact{
    padding:2.5rem 20%;
    background-color:#eee;
}

.contact input[type=text],[type=email]{
    border-radius:10px;
    border: 1px solid #333;
    padding: 5px 10px;
    width:200px;
    font-family: "Roboto", sans-serif;
    
}

.contact textarea{
    border-radius:10px;
    border: 1px solid #333;
    padding: 5px 10px;
    width:200px;
    height:100px;
    outline:none;
    font-family: "Roboto", sans-serif;
}

.contact input[type=submit]{
    background-color:var(--primary-color);
    border: none;
    color:#fff;
    font:inherit;
    font-size:16px;
    border-radius:100px;
    padding:10px 30px;
    transition:0.1s;
    outline:none;
    }

.contact input[type=submit]:hover{
    background-color: var(--secondary-color);
    cursor:pointer;
    }

.privacy{
    padding:2.5rem 20%;
}

.about{
    padding:2.5rem 20%;
}

footer{
    height:150px;
    background-color:var(--primary-color);
    box-shadow:0px 0px 10px .5px #111;
}

footer div{
    position:relative;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    font-size:12px;
    color:#fff;
}

footer div a{
    text-decoration:none;
    color:#fff;
}


@media screen and (max-width:768px){
    .burger{
        display:flex;
    }
    
    nav{
        flex-direction:column;
        align-items:center;
        padding:0px;
    }
    
    .nav-links{
        display:none;
        flex-direction:column;
        width:100%;
        background-color:var(--tertiary-color);
    }
    
    .nav-links li{
        text-align:center;
    }
    
    .nav-links li a{
        padding:.75rem;
    }
    
    .nav-links.active{
        display:flex;
    }
    
    /*.top{border-top: .5px solid #ccc;}*/
    
    .samples{
        padding:1.5rem 0;
    }
    
    .samples h3{
        padding-left:1.5rem;
    }
    
    .samples iframe{
        width:95%;
    }
    .contact{
        padding:1.5rem 1.5rem;
    }
    
    .about{
    padding:1.5rem 1.5rem;
    }
    
    .privacy{
    padding:1.5rem 1.5rem;
    }
    
}