/*Boilerplate CSS Reset*/
body,nav,div,span,h1,h2,h3,h4,h5,p,ul,li,a,img{margin:0;padding:0; box-sizing:border-box;}

:root{
    font-size:17px;
}

body{background-color:#fefefe; color:#161616;}
body.dark-mode{background-color:#1e2427; color:#fefefe;}
body .light{display:inherit;}
body .dark{display:none;}
body.dark-mode .light{display:none;}
body.dark-mode .dark{display:inherit;}

/*Main Styling*/
h1{font-size:3rem; font-family: 'montserrat', sans-serif; font-weight:500;}
h2{font-size:2rem; font-family: 'montserrat', sans-serif; font-weight: 500; padding-bottom:15px;}
h3{font-size:1.5rem; font-family: 'montserrat', sans-serif; font-weight:500; padding-bottom:10px;}
h4{font-size:1.1rem; font-family: 'Roboto', sans-serif; font-weight:300;}
p{font-size:1rem; font-family: 'montserrat', sans-serif; font-weight:300; text-align:left; margin-bottom:15px; line-height:160%;}
a{font-size:1rem; font-family: 'montserrat', sans-serif; font-weight:300; color:#2E7EB5; text-decoration:none;}
a:hover{color:#6FC2E9; cursor:pointer;}
li{font-size:1rem; font-family: 'montserrat', sans-serif; font-weight:300;margin-bottom:5px; margin-left: 25px;}
hr{background-image: linear-gradient(to right,transparent,#ccc,transparent);border:0; height:1px; margin:8px 0;}

body.dark-mode a{color:#6FC2E9;}
body.dark-mode a:hover{color:#2E7EB5;}

/*Text-Align Classes*/
.tar{text-align:right;}
.tal{text-align:left;}
.tac{text-align:center;}

/*Color Styling*/
.gray{background-color:#ddd;}
body.dark-mode .gray{background-color:#2c353a;}

/*Light and Dark Mode Selector*/
.light-dark{position:fixed; top:50%; left:95%; z-index:10; background-image:linear-gradient(#E77733,#F7BD38); box-shadow:0px 0px 5px rgb(22,22,22,0.5); padding:6px 2px; border: 2px solid #fff; border-radius:50px; overflow:hidden;}
.light-dark:hover{cursor:pointer;}
.light-dark img{display:block; width:24px; height:24px;}
.light-dark img:nth-child(2){margin-bottom:5px;}
body.dark-mode .light-dark{background-image:linear-gradient(#161616,#3B3B3B);border:2px solid #101010; box-shadow:0px 0px 5px rgb(0,0,0,0.5);}
.toggle-ball{position:absolute; width:24px; height:30px; border-radius:32px; background-color:#fff; bottom:-4px;left:0; z-index:20; transition-duration:  0.2s;}
body.dark-mode .toggle-ball{background-color:#101010; bottom:28px;}

/*Layout Styling*/
.header h1{color:#161616;}
.header h1:hover{color:#161616;}
.container{width:100%;}
.container .row{display:block; padding:75px 15%;}
.container .row.dark{display:none;}
.alt{background-color:#ddd;}
.btn{display:inline-block; background-color:#161616; color:#fefefe; padding:8px 30px; border-radius:50px; margin:10px 15px;}
.btn:hover{background-color:#2c353a; color:#fefefe; cursor:pointer;}
.clearfix:after{content: ""; display: table; clear: both;}
body.dark-mode .header h1{color:#fefefe;}
body.dark-mode .header h1:hover{color:#fefefe;}
body.dark-mode .row.light{display:none;}
body.dark-mode .row.dark{display:block;}
body.dark-mode .btn{background-color:#2c353a; color:#fefefe;}
body.dark-mode .btn:hover{background-color:#161616; color:#fefefe; cursor:pointer;}
body.dark-mode .alt{background-color:#2c353a;}

/*Order Styling*/
.first{margin-left:0;}
.last{margin-right:0;}

/*Banner Styling*/
.banner{position:relative; display:block; width:100%; height:500px; min-height:500px; padding:30px 0; text-align:left; background-color:rgb(29,39,57,0.55);}
.banner h2{display:none; position: absolute; bottom: 50%; right: 50%; transform:translateX(50%); text-align:center; color:#fefefe;}
.banner .btn{display:none; position:absolute; bottom:30px; right:50%; width:250px; transform:translateX(50%); margin:0 auto; padding:10px 30px; text-align:center; border:2px solid #fefefe; background-color:transparent; color:#fefefe;}
.banner .btn:hover{background-color:rgb(22,22,22,0.5); box-shadow:0 1px 7px rgb(0,0,0,0.5);}
body.dark-mode .banner .btn{background-color:transparent; color:#fefefe;}
body.dark-mode .banner .btn:hover{background-color:rgb(22,22,22,0.5); box-shadow:0 1px 7px rgb(0,0,0,0.5); color:#fefefe;}

/*Profile Styling*/
.profile .headshot{display:none; position:relative; width:250px; height:250px; overflow:hidden; border-radius:250px; border:5px solid #fefefe; box-shadow:0px 0px 5px rgb(22,22,22,0.5); margin-top:-200px; margin-bottom:30px;}
.headshot img{position:absolute; top:-105px; left:-150px; width:500px; height:500px;}
.bio img{width:50px; height:50px; margin:0 5px;}
.bio .social-light{display:block; margin:0;}
.bio .social-dark{display:none; margin:0;}
body.dark-mode .bio .social-light{display:none;}
body.dark-mode .bio .social-dark{display:block;}
body.dark-mode .profile .headshot{border-color:#1e2427;}

/*Link Tree Styling*/
.link-tree{min-height:600px;}
.link-tree h2{font-weight:300;}
.link-list{display:flex; text-align:center;}
.link-box{display:block; background-color:#ddd; width:40%; min-width:300px; margin: 15px auto; padding:15px; border-radius:50px;}
.link-box p{font-size:18px; display:inline-block; text-align:center; text-decoration:none; color:#161616; margin:0;}
.link-box img{width:40px; height:40px; vertical-align:middle; margin-bottom:3px; display:inline-block;}
.link-box:hover{cursor:pointer; box-shadow:0px 1px 5px rgb(0,0,0,0.5);}
body.dark-mode .link-box{background-color:#2c353a;}
body.dark-mode .link-box p{color:#fefefe;}

/*Footer Styling*/
footer{text-align:center; padding:25px 10%;}
footer img{width:50px; height:50px; margin:0 15px;}
footer .social-light{display:block; margin:0;}
footer .social-dark{display:none; margin:0;}
body.dark-mode footer .social-light{display:none;}
body.dark-mode footer .social-dark{display:block;}
footer ul li{list-style:none; display:inline; margin:0; padding:5px;}
footer ul li a{color:#161616;}
footer ul li a:hover{cursor:pointer; color:#aaa;}
body.dark-mode footer ul li a{color:#fefefe;}
body.dark-mode footer ul li a:hover {color:#aaa;}

/*Responsive Styling*/
@media screen and (max-width:1330px){
}

@media screen and (max-width:1130px){
    nav{padding:0 10%;}
    .container .row {padding:75px 10%;}
}


@media screen and (max-width:949px){
    .light-dark{left:87%; z-index:10;}
    nav ul{display:none;}
    nav{padding:0 5%;}
    .container .row {padding:20px 5%;}
    h2{font-size:1.75rem;}
    h3{font-size:1.35rem;}
}

@media screen and (max-width:769px){
    nav{padding:0 15px;}
    .container .row {padding:45px 15px;}
    .link-box{min-width:230px; padding:7px 15px;}
    .cta{text-align:center; margin-top:20px;}
    .btn{display:block; max-width:250px; text-align:center; margin:15px 0; padding:8px 15px;}
    .banner{text-align: center;}
    .banner .btn{margin-top:15px;}
    .bio img{margin: 5px 0;}
    .profile .headshot{width:200px; height:200px; border-radius:200px; margin-top:-150px;}
    .headshot img{width:400px; height:400px; top:-85px; left:-120px;}
    footer img{margin:0 5px;}
    p{line-height:135%;}
}